@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Outfit', sans-serif;
}

:where(.css-dev-only-do-not-override-142vneq).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-142vneq).ant-dropdown-menu-submenu .ant-dropdown-menu {
  padding: 24px;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
}

#collapse-demo-collapsible .ant-space {
    width: 100%;
  }

  .ant-card .ant-card-body {
    padding: 2px;
    border-radius: 0 0 8px 8px;
}

.ant-divider-horizontal {
  margin: 10px 0;
}
.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

/* Pagination Item Styling */
.ant-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #5ccee5;
  background: #fff;
  transition: all 0.3s ease;
  min-width: 50px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Text Styling */
.ant-pagination-item a {
  color: #3EB4E7;
  padding: 10px 15px;
}

/* Active Page Styling */
.ant-pagination-item-active {
  background: #3EB4E7 !important;
  border-color: #3EB4E7 !important;
}

.ant-pagination-item-active a {
  color: white !important;
}
/* Hover Effect */
.ant-pagination-item:hover {
  background: rgba(255, 122, 0, 0.2);
  box-shadow: 0px 4px 8px rgba(255, 122, 0, 0.3);
}

/* Previous & Next Buttons */
.ant-pagination-prev, 
.ant-pagination-next {
  font-weight: bold;
  color: #3EB4E7;
  min-width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

/* Hover Effect for Previous & Next */
.ant-pagination-prev:hover, 
.ant-pagination-next:hover {
  color: white;
  background: #3EB4E7;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(255, 122, 0, 0.3);
}
.react-multiple-carousel__arrow{
  z-index: 10 !important;
}
/* styles/globals.css file e add koro */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}